.container__header {
  background: linear-gradient(to bottom, $color-gray -32%, #fff 124%);
  padding: 1rem 0 1rem 0;
  box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
  h1 {
    font-family: Baskerville;
    font-size: 1.75rem;
    color: $color-dark;
    text-transform: uppercase;
    img {
      width: 12rem;

      object-fit: contain;
    }
  }
}
